upstream my_app {
  server 127.0.0.1:9393;
}

server {
  listen 80;
  server_name localhost;
  root {{app_root}}/public;

  location / {
    proxy_pass http://my_app; # match the name of upstream directive which is defined above
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
