{% for app_domain in app_domains %}

upstream {{app_domain.upstream}} {
  server {{app_domain.ip}}:{{app_domain.port}} fail_timeout=0;
}

server {
  listen 80;
  server_name {{app_domain.domain}};

  location / {
    proxy_pass http://{{app_domain.upstream}}; # match the name of upstream directive which is defined above
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}

{% endfor %}
